*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
    /*进制滚动*/
}

#canvas {
    /*canvas和img一样,是dispaly:inline-block,如果把他改成block,大小不了变,就像img不会随着变成bloc而拉伸*/
    background: #fff;
    display: block;
    /*没用,不会拉伸,不会变成块级元素*/
    /*height: 100vh;*/
    /*会整体放大,等比例的,和图片一样,整个画布连同里面画的图像,都会放大,所以只能在元素来设置属性,不能css样式来控制他*/
}

.actions {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
}

.actions svg {
    fill: black;
    margin: 10px;
    /*fill: #ff5113;*/
    vertical-align: top;

    transition: all 0.4s;
}

.actions svg:nth-child(1), svg:nth-child(3) {
    width: 2em;
    height: 2em;
}

.actions svg:nth-child(2) {
    width: 2.5em;
    height: 2.5em;
}

svg.active {
    fill: #ff5113;
    transform: scale(1.3);
    /*变成原来的1.2倍*/

}
.colors{
    width: 45px;
    /*border: 1px solid red;*/
    position: fixed;
    top: 90px;
    left: 16px;
}
.colors>li{
    /*display: inline-block;*/
    /*vertical-align: top;*/
    width: 35px;
    height: 35px;
    /*border: 1px solid red;*/
    margin-bottom: 20px;
    border-radius: 50%;

    transition: all 0.4s;
}

.colors li#black{
    background: black;
}
.colors li#red{
    background: red;
}
.colors li#blue{
    background: blue;
}
.colors li#green{
    background: green;
}

.colors .active{
    transform: scale(1.2);
    box-shadow: 0 0 2px 2px #898b8d;
}
