*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
ul,ol{
    list-style: none;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
    /*进制滚动*/
}

#canvas {
    /*canvas和img一样,是dispaly:inline-block,如果把他改成block,大小不了变,就像img不会随着变成bloc而拉伸*/
    background: #fff;
    display: block;
    /*没用,不会拉伸,不会变成块级元素*/
    /*height: 100vh;*/
    /*会整体放大,等比例的,和图片一样,整个画布连同里面画的图像,都会放大,所以只能在元素来设置属性,不能css样式来控制他*/
}

.actions {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
}

.actions svg {
    fill: black;
    width: 2em;
    height: 2em;
    margin: 10px;
    /*fill: #ff5113;*/
    vertical-align: top;

    transition: all 0.5s;
}

.actions svg:nth-child(1), svg:nth-child(3) {
    width: 2em;
    height: 2em;
}

.actions svg:nth-child(2) {
    width: 2.5em;
    height: 2.5em;
}

svg.active {
    /*fill: #ff5113;*/
    transform: scale(1.5);
    /*变成原来的1.2倍*/
}
svg.eraseractive{
    fill: #ff5113;
}
.colors{
    width: 45px;
    /*border: 1px solid red;*/
    position: fixed;
    top: 90px;
    left: 16px;
}
.colors>li{
    /*display: inline-block;*/
    /*vertical-align: top;*/
    width: 35px;
    height: 35px;
    /*border: 1px solid red;*/
    margin-bottom: 20px;
    border-radius: 50%;

    transition: all 0.5s;
}

.colors li#black{
    background: black;
}
.colors li#red{
    background: red;
}
.colors li#blue{
    background: blue;
}
.colors li#green{
    background: green;
}
.colors li#orange{
    background: orange;
}

.colors .active{
    transform: scale(1.2);
    box-shadow: 0 0 2px 2px #898b8d;
}

.sizes{
    position: fixed;
    top: 30px;
    right: 20px ;
}
.sizes>li{
    width: 40px;
    height: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.sizes .sizes_1{
    border-top: 2px solid black;
    font-weight: 100;
}
.sizes .sizes_2{
    border-top: 4px solid black;
    font-weight: 400;
}
.sizes .sizes_3{
    border-top: 6px solid black;
    font-weight: 600;
}
.sizes .sizes_4{
    border-top: 8px solid black;
    font-weight: 700;
}

.sizes>li.active{
    border-top-color: #ff5113;
    color: #ff5113;
}


.shakeClass {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, -2px, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 2px, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-10px, -8px, -10px);
    }

    40%, 60% {
        transform: translate3d(10px, 8px, 10px);
    }
}
.dexcribe{
    position: fixed;
    opacity: 0;
}